<h2>Admin Dashboard: All Bookings</h2>
<% if notice %>
  <p style="color: green;"><%= notice %></p>
<% end %>
<% if alert %>
  <p style="color: red;"><%= alert %></p>
<% end %>
<table border="1" style="width: 100%; border-collapse: collapse;">
  <thead>
    <tr style="background-color: #f2f2f2;">
      <th>User</th>
      <th>Resource</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody data-bookings-list>
    <% @bookings.each do |booking| %>
      <%= render "admin/bookings/booking_row", booking: booking %>
    <% end %>
  </tbody>
</table>
<p><%= link_to "Back to Home", root_path %></p>