/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  box-sizing: border-box;
}

.material-symbols-outlined {
  font-size: 1em;
  vertical-align: middle;
}

:root {
  --fix-white: #fafafa;
  --fix-black: #050505;
  --fix-computer-blue-dark: #1f4e79;
  --fix-computer-blue-light: #b9daf6;
  --header-height: 5rem;
  --page-margin: 1rem;
  --header-top: 1rem;
  --header-radius: 0.75rem;
  --page-max-width: 1400px;
}

.light {
  --white: var(--fix-white);
  --black: var(--fix-black);
  --computer-blue-dark: var(--fix-computer-blue-dark);
  --computer-blue-light: var(--fix-computer-blue-light);
  --background-color: color-mix(in srgb, var(--white) 98%, var(--black));
}

.dark {
  --white: var(--fix-black);
  --black: var(--fix-white);
  --computer-blue-dark: var(--fix-computer-blue-light);
  --computer-blue-light: var(--fix-computer-blue-dark);
  --background-color: color-mix(in srgb, var(--white) 95%, var(--black));
}

::selection {
  background-color: var(--computer-blue-light);
  color: var(--computer-blue-dark);
}

button, input:not([type="checkbox"]), select {
  all: unset;
  background-color: color-mix(in srgb, var(--computer-blue-light) 25%, transparent);
  border: none;
  cursor: pointer;
  transition: background-color 0.25s ease;
  text-align: center;
  padding: 0.375em 0.75em;
  border-radius: 0.25em;

  &:hover {
    background-color: color-mix(in srgb, var(--computer-blue-light) 50%, transparent);
  }
}

select > option {
  background-color: color-mix(in srgb, var(--computer-blue-light) 25%, var(--white));
}

a {
  text-decoration: none;
  color: unset;
}

html {
  filter: saturate(1.5);
}

body {
  font-family: "Lexend", sans-serif;
  margin: 0;
  background-color: var(--background-color);
  color: color-mix(in srgb, var(--black) 85%, var(--white));
  /* transition: all 0.5s ease; */
  transition-property: background-color, color;
}

.logo {
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  background-color: var(--computer-blue-dark);
  transition: background-color 0.25s ease;
  display: block;

  &.theme-light {
    mask-image: url("theme_light.svg");
  }

  &.theme-dark {
    mask-image: url("theme_dark.svg");
  }
}

.hover-label {
  background-color: color-mix(in srgb, color-mix(in srgb, var(--computer-blue-light) 75%, var(--white)) 50%, transparent);
  backdrop-filter: blur(1em);
  color: var(--computer-blue-dark);
  white-space: nowrap;
  position: absolute;
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
  bottom: calc(100% + 0.125em);
  font-size: 0.75em;
  left: 50%;
  text-align: center;
  transform: translateX(-50%) translateY(0.5em);
  opacity: 0;
  transition: all 0.25s ease;
  transition-property: transform, opacity;

  *:has(> &) {
    position: relative;
    cursor: help;
    transition: color 0.25s ease;

    &:hover {
      color: var(--computer-blue-dark);

      > .hover-label {
        transform: translateX(-50%);
        opacity: 1;
      }
    }
  }
}

h1 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0 0 0.75em 0;
  text-align: center;
}

@keyframes back-btn-appear {
  from {
    transform: translateX(1em);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.back-btn {
  position: fixed;
  top: calc(var(--header-height) + 1em);
  left: calc(var(--page-margin) + 1em);
  display: flex;
  align-items: center;
  column-gap: 0.5em;
  border-radius: 0.25em;
  transition: all 0.25s ease;
  background-color: color-mix(in srgb, var(--white) 50%, transparent);
  backdrop-filter: blur(1em);
  transition-property: background-color, color;
  width: max-content;
  padding: 0.5em 1em;
  opacity: 0;
  animation: back-btn-appear 1s 0.5s ease forwards;

  &:hover {
    background-color: color-mix(in srgb, var(--computer-blue-light) 50%, transparent);
    color: var(--computer-blue-dark);

    .material-symbols-outlined {
      transform: translateX(-0.25em);
    }
  }

  .material-symbols-outlined {
    transition: transform 0.25s ease;
  }
}

.error-explanation {
  border: color-mix(in srgb, var(--computer-blue-light) 25%, transparent) 0.25em solid;
  border-radius: 0.5em;
  overflow: hidden;

  > .error-title {
    background-color: color-mix(in srgb, var(--computer-blue-light) 25%, transparent);
    padding: 0.5em;
    text-align: center;
    color: var(--computer-blue-dark);
    text-transform: uppercase;
    letter-spacing: 0.25em;
    font-weight: bold;
  }

  > ul {
    margin: 0.5em 0;
    padding: 0 2em;
  }
}