.devise-form {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
  row-gap: 2em;

	> form {
		background-color: var(--white);
		padding: 2em;
		border-radius: 0.5em;
		display: flex;
		flex-direction: column;
		row-gap: 1em;

		> .form-group {
			display: flex;
			align-items: center;
			justify-content: space-between;
      column-gap: 1em;

      > :is(label, .field_with_errors:has(> label)) {
        flex: 1;
        text-align: center;
      }

      label {
        display: flex;
        flex-direction: column;

        .hint {
          font-size: 0.75em;
        }
      }

      input, select {
        width: 15em;
      }
		}

    > .form-actions {
      display: flex;
      
      > input {
        flex: 1;
      }
    }

    > .error-explanation {
      border: color-mix(in srgb, var(--computer-blue-light) 25%, transparent) 0.25em solid;
      border-radius: 0.5em;
      overflow: hidden;

      > .error-title {
        background-color: color-mix(in srgb, var(--computer-blue-light) 25%, transparent);
        padding: 0.5em;
        text-align: center;
        color: var(--computer-blue-dark);
        text-transform: uppercase;
        letter-spacing: 0.25em;
        font-weight: bold;
      }

      > ul {
        margin: 0.5em 0;
      }
    }
	}

  > .devise-links {
    font-size: 0.875em;
    display: flex;
    align-items: center;
    column-gap: 1em;
  }
}